body {
    background-color: black !important;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    min-height: 300vh;
}

.box {
    width: 100px;
    height: 100px;
    background: #fff;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.gradient-green {
    background: rgb(70,233,102);
    background: linear-gradient(90deg, rgba(70,233,102,1) 0%, rgba(63,241,245,0.5244755244755245) 100%);
}
